{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    <h3>
        Rezepte aus der Wädichörbli Chuchi
    </h3>
{% endblock %}
{% block content %}
<!--Inhaltsverzeichnis-->
<h4>Rezepte von A - Z</h4>
Lasst es euch schmecken!
<br>Beste Grüsse vom Wädichörbli-Rezept-Team: Silvia, Kerstin, Moana
<br>
<br><a href="#BabaGanoush">Baba-Ganoush</a>
<br><a href="#ChicoreeRadicchioSalatOrangen">Chicoree und Radicchio Salat mit Orangen</a>
<br><a href="#Erbsenrisotto">Frischer Erbsenrisotto</a>
<br><a href="#FederkohlRisotto">Federkohl Risotto</a>
<br><a href="#HerbstsuppeFernweh">Herbstsuppe mit Fernweh</a>
<br><a href="#RotkabisRagu">Rotkabis-Ragù</a>
<br><a href="#KartoffelMangoldGratin">Kartoffel-Mangold Gratin</a>
<br><a href="#BurrataKefen">Burrata mit Kefen</a>
<br><a href="#KrautstielFenchelTarte">Krautstiel-Fenchel-Tarte</a>
<br><a href="#KokosnusscurryRandenKichererbsen">Kokosnusscurry mit Randen und Kichererbsen</a>
<br><a href="#KürbisGuetzli">Kürbis-Guetzli</a>
<br><a href="#KürbisRüebliHonig">Kürbis und Rüebli mit Honig</a>
<br><a href="#KürbisspätzliWintergemüseMarroni">Kürbisspätzli mit Wintergemüse und Marroni</a>
<br><a href="#VegiMoussaka">Vegi-Moussaka</a>
<br><a href="#Pastinakencremesuppe">Pastinakencremesuppe mit Thymian-Crôutons</a>
<br><a href="#PizochelsInterpretation">Pizochels freie Interpretation</a>
<br><a href="#PastaRadicchioHaselnüssenGorgonzola">Pasta mit Radicchio, Haselnüssen und Gorgonzola</a>
<br><a href="#PenneRadicchioZiegenfrischkäse">Penne mit Radicchio und Ziegenfrischkäse</a>
<br><a href="#RandenKräuter">Randen mit Kräutern</a>
<br><a href="#PastaRandenButterSalbei">Pasta mit Randen, brauner Butter und Salbei</a>
<br><a href="#RazElHanoutRüebliBulgur">Raz-El-Hanout-Rüebli mit Bulgur</a>
<br><a href="#MiniRosenkohlburger">Mini-Rosenkohlburger</a>
<br><a href="#Sauerkrautquiche">Sauerkrautquiche</a>
<br><a href="#SüsskartoffelGnocchiOfenTomaten">Süsskartoffel-Gnocchi mit Ofen-Tomaten, Rucola und Radicchio</a>
<br><a href="#PastaTomatenSemmelbröseln">Pasta mit Tomaten und Semmelbröseln</a>
<br><a href="#TomatenTarte">Tomaten-Tarte</a>
<br><a href="#WirzGemüse">Wirz-Gemüse</a>
<br><a href="#ZucchettiKartoffelFrittata">Zucchetti-Kartoffel-Frittata</a>
<br><a href="#Zuckerhut">Zuckerhut mit Äpfeln und Kürbiskernen</a>

<!--
<hr>
<h4>A</h4>
-->
<hr>
<h4>B</h4>
<p>
<hr>
  <a id="BabaGanoush"><b>Baba Ganoush</b></a>
  <br>Dieses Rezept gibt es in vielen Kulturen, Sprachen und Schreibweisen - fein ist es immer!
  <br>
  <br>Die Aubergine längs halbieren und mit der Schnittfläche nach oben auf den Grill legen, am besten, wenn der ohnehin angezündet ist. Dann bis zum Ende des Abends vergessen. 
  <br>
  <br>Wenn das Äussere verkohlt und schrumpelig und das Innere breiig ist, letzteres mit der Gabel herauskratzen und die Haut entsorgen. Das Auberginenmus mit Zitronensaft, Tahini, Knoblauch und Salz cremig rühren. Wer mag, träufelt zum Schluss etwas Olivenöl darüber und dekoriert mit Za'atar (einer nahöstlichen Gewürzmischung) und frischer Minze. 
  <br>Baba Ganoush schmeckt am besten mit warmen Fladenbrot oder frischem Baguette
</p>

<hr>
<h4>C</h4>
<p>
<hr>
  <a id="ChicoreeRadicchioSalatOrangen"><b>Chicoree und Radicchio Salat mit Orangen</b></a>
  <br>Bei beiden Salaten den Strunk entfernen und Blätter waschen. Abtropfen und in Streifen schneiden
  <br>2 Orangen filetieren
  <br>Den Saft über die Chicoréeblätter geben
  <br>150 g Joghurt
  <br>Salz und Pfeffer
  <br>3 EL Apfelessig oder weisser Balsamico
  <br>Gut vermischen.
  <br>4 EL Sonnenblumenöl dazu. Verrühren.
  <br>Sauce mit Salatstreifen und Orangenfilets vermischen und 10 min ziehen lassen.
</p>
<!--
<hr>
<h4>D</h4>
-->
<hr>
<h4>E</h4>
<p>
<hr>
  <a id="Erbsenrisotto"><b>Frischer Erbsenrisotto</b></a>
  <br>(Anmerkung von Erdi: beachtet, dass ihr die Knack-Erbsen nicht zwingend schälen müsst. Diese Erbsen lassen sich grossteils mit der Schale essen.)
  <br>
  <br>Zunächst Frühlingszwiebeln (falls vorhanden, geht auch ohne) in viel Butter glasig andünsten. Den Reis zugeben und kurz mit anschwitzen. Mit Weisswein und etwas heisser Gemüsebrühe ablöschen. Immer wenn die Brühe absorbiert ist, nachgiessen. Also den Herd nicht verlassen! 
  <br>
  <br>Währenddessen die Knackerbsen aus den Schoten schälen und bereitstellen. Wenn der Risotto die richtige Konsistenz hat (die ist Geschmackssache…), die Erbsen, viel Butter und Parmesan unterrühren und nur noch kurz fertiggaren.
  <br>Zum Schluss – und das ist der Clou – etwas frische Minze hinzufügen und mit noch mehr Parmesan und frisch gemahlenem Pfeffer servieren. 
</p>

<hr>
<h4>F</h4>
<p>
<hr>
  <a id="FederkohlRisotto"><b>Federkohl Risotto</b></a>
  <br>Federkohl,
  <br>Zwiebel,
  <br>Knoblauch
  <br>etwas Butter
  <br>Risottoreis
  <br>ein Schuss Weisswein
  <br>Gemüsebrühe, Salz, Pfeffer
  <br>Käse (bspw. Talleggio oder Gorgonzola)
  <br>
  <br>Zubereitung:
  <br>Federkohl waschen und von den Stielen und in mundgerechte Stücke rupfen. In reichlich Salzwasser einige Minuten bissfest kochen, dann abgiessen und kalt abschrecken. Zwiebel und Knoblauch hacken und in etwas Butter anschwitzen. Risottoreis dazugeben und ein wenig mitschwitzen, dann mit einem Schuss Weisswein ablöschen. Den Wein einkochen lassen und nach und nach die Gemüsebrühe zugeben, dabei immer wieder rühren. Gegen Ende der Garzeit des Reises den Federkohl und den Käse unterheben. Evtl. noch etwas Brühe zugeben.
</p>
<!--
<hr>
<h4>G</h4>
-->
<hr>
<h4>H</h4>
<hr>
  <a id="HerbstsuppeFernweh"><b>Herbstsuppe mit Fernweh</b></a>
  <br>Eine Zwiebel, Knoblauch nach Geschmack und ein daumengrosses Stück frischen, geriebenen Ingwer mit Salz und Pfeffer in reichlich Olivenöl glasig dünsten. 
  <br>
  <br>1 1/2 TL Kurkuma, 1 TL Chiliflocken und  2 Dosen Kichererbsen dazugeben und weiterbraten, bis die Kichererbsen etwas anbräunen (ca. 5-10 Minuten).
  <br>
  <br>Die Hälfte der Kichererbsen wieder herausnehmen, den Rest etwas zerdrücken. Mit je ½ l Kokosmilch und Gemüsebrühe angiessen und etwa ½ h köcheln lassen. Gelegentlich umrühren. 
  <br>
  <br>Kleingeschnittenen Kraufstiel (oder nächste Woche Federkohl oder Spinat) hinzufügen und kochen, bis das Gemüse weich ist. Abschmecken (Salz?).
  <br>
  <br>Zum Servieren mit den restlichen Kichererbsen, mehr Chiliflocken und evtl einem Klecks (Kokos-)jogurt und etwas frischer Minze (falls der Balkon noch etwas hergibt), anrichten.
</p>
<!--
<hr>
<h4>I/J</h4>
-->
<hr>
<h4>K</h4><!-- hier beginnen die Rezepte für K -->
<p>
<hr>
  <a id="RotkabisRagu"><b>Rotkabis-Ragù</b></a>
  <br>Rotkabis
  <br>grosse Zwiebel
  <br>reichlich Knoblauch
  <br>kleine Dose TOmatenmark
  <br>1dl Rotwein
  <br>Salz
  <br>wenig Wasser
  <br>wahlweise Rigatoni, Tortiglioni, Papardelle, Stocki oder Polenta
  <br>
  <br>Zubereitung:
  <br>Den Rotkabis zunächst vierteln. In einem schweren Topf (Le Creuset, wer hat) Olivenöl erhitzen und die Kabisschnitze auf beiden Schnittflächen anbraten, bis sie bräunen. Herausnehmen.
  <br>
  <br>Nun eine grosse Zwiebel kleingeschnitten im selben Topf anbraten, bis sie golden ist. Reichlich Knoblauch und eine kleine Dose Tomatenmark dazu und weiter braten, bis das Tomatenmark bräunlich wird. Mit reichlich Rotwein (ein knappes Dezi) ablöschen. Nun den angebratenen Kabis in Streifen schneiden und dazugeben. Gut salzen und mit wenig Wasser köcheln lassen, bis der Kabis weich und das Ragu dickflüssig ist. Wer mag, kann an dieser Stelle auch Chiliflocken dazugeben. 
  <br>
  <br>Zum Servieren gekochte Rigatoni, Tortiglioni o.ä. unterheben. Wer hat, kann noch etwas Peterli dazugeben.
  <br>
  <br>Das Ragù schmeckt auch zu Pappardelle, Stocki oder Polenta grossartig.
</p>
<p>
<hr>
  <a id="KartoffelMangoldGratin"><b>Kartoffel-Mangold Gratin</b></a>
  <br>Ca. 1 Kilo Kartoffeln mit Schale fast weich kochen, auskühlen lassen
  <br>Mangold waschen und grob zerkleinern
  <br>1 Zwiebel fein hacken
  <br>Zwiebel mit etwas Öl in einer Pfanne andünsten, Mangold mit dünsten bis er zusammenfällt, mit Salz, Pfeffer und Muskat würzen
  <br>100g getrocknete Tomaten abtropfen und in Streifen schneiden
  <br>150g Gorgonzola in Stücke schneiden
  <br>3 El Butter in einer Pfanne schmelzen, 2 El Mehl einrühren, mit 125ml Milch und 125ml Gemüsebouillon ablöschen. Gut rühren und 3-4 Minuten köcheln lassen. 
  <br>Die Tomaten und Gorgonzola dazu geben.
  <br>
  <br>Eine Gratinform einfetten, die Kartoffeln in Scheiben schneiden und abwechselnd mit dem Mangold einschichten. Auf jede Schicht Sauce geben
  <br>
  <br>Ofen auf 180 Grad aufheizen und den Gratin 35-40 Minuten backen. Wer will kann 5 Minuten vor Ende noch etwas Paniermehl darüber Streuen.
  <br>Wer der Gorgonzola zu intensiv ist, nimmt dem Gorgonzola-Mascarpone.
</p>
<p>
<hr>
  <a id="BurrataKefen"><b>Burrata mit Kefen</b></a>
  <br>In einer kleinen Pfanne röstet man etwas helles Sauerteig- oder Weissbrot vom Vortag (selbstgebackenes schmeckt am besten...) in kleine Stücke gerissen in etwas Salz und   <br<br>Olivenöl. Wenn das Brot golden wird, etwas Zitronenschale darüberstreuen. 
  <br>
  <br>Währenddessen schneidet man eine Burrata kreuzweise ein und "klappt" sie auf. Etwas Olivenöl und Salz darüberträufeln. 
  <br>Das Brot auf die Seite tun und in der heissen Pfanne etwa die Hälfte der vorrätigen Kefen, die man zuvor längs in Streifen geschnitten hat, anbraten. 
  <br>Die andere Hälfte der Kefen ebenfalls in Streifen schneiden und roh gemeinsam mit den gebratenen Kefen und dem Brot auf der Burrata anrichten. 
  <br>Mit viel Minze und Basilikum servieren.
</p>

<p>
<hr>
  <a id="KokosnusscurryRandenKichererbsen"><b>Kokosnusscurry mit Randen und Kichererbsen</b></a>
  <br>1 Zwiebel, grob gehackt 
  <br>ca. 1 Pfund Randen, geschält und in Schnitze oder Würfel geschnitten 
  <br>1 Dose Kichererbsen (oder selbst eingeweicht und gekocht), abgegossen 
  <br>2 Knoblauchzehen, klein gehackt oder gerieben 
  <br>ein daumengrosses Stück Ingwer, klein gehackt oder gerieben 
  <br>mit je 1 TL Koriander, Kreuzkümmel und Ingwerpulver 
  <br>1/2 TL Kurkuma 
  <br>1 EL Öl 
  <br>1 TL Salz 
  <br>in einer Auflaufform vermengen und bei 180 Grad ca. 40 Minuten in den Ofen stellen. 
  <br>400g Kokosmilch gut verrühren und darübergeben. 
  <br>Weitere zehn Minuten im Ofen eindicken lassen.
  <br>
  <br>Zum Servieren evtl. Korianderblätter darübergeben.  Dazu Reis und/oder Naanbrot.
</p>

<p>
<hr>
  <a id="KrautstielFenchelTarte"><b>Krautstiel-Fenchel-Tarte</b></a>
  <br>Teig:
  <br>150 g Dinkelvollkornmehl
  <br>75 g Butter
  <br>Salz
  <br>75 g Sauerrahm
  <br>
  <br>Alle Zutaten für den Teig kneten und eine Spring- oder Tarteform damit auslegen. Den Rand ca. 3 cm hoch formen und den Teig im auf 180°C vorgeheizten Backofen für 15 Minuten vorbacken.  
  <br> 
  <br>Belag:
  <br>1 Zwiebel
  <br>120 g Fenchel
  <br>300 g Krautstiel
  <br>6 getrocknete Tomaten
  <br>150 g Feta
  <br>3 Eier
  <br>125 g Sauerrahm
  <br>2 EL Zitronensaft
  <br>Salz, Pfeffer, Muskatnuss
  <br>Balsamicoessig oder -creme
  <br>
  <br>Die Zwiebel würfeln und in etwas Olivenöl glasig dünsten. Krautstiel klein schneiden, Fenchel hobeln oder ziemlich dünn schneiden, Tomaten hacken. Das Gemüse zu der Zwiebel geben und alles bissfest dünsten. Mit Zitronensaft, Salz, Pfeffer und Balsamico abschmecken.
  <br>Eier und Sauerrahm verquirlen und mit Salz, Pfeffer und Muskatnuss würzen.
  <br>
  <br>Das Gemüse auf dem Boden verteilen, Feta darüber zerkrümeln und die Eiersahne darüber gießen. Nun die Tarte nur noch bei 180°C im Backofen für 20 Minuten fertig backen.
  <br>Dazu passt Salat. Schmeckt aber auch ohne. :-D
</p>
<p>
<hr>
  <a id="KürbisGuetzli"><b>Kürbis Guetzli</b></a>
  <br>100g Butter weich
  <br>180g Rohrzucker
  <br>230g Kürbispüree (Knirps eignet sich sehr gut)
  <br>1 Ei
  <br>300g Mehl
  <br>1 TL Backpulver
  <br>1 Tl Zimt
  <br>1 Prise Muskatnuss
  <br>1 Prise Salz
  <br> 
  <br>Butter und Zucker zusammen schaumig schlagen. Kürbispuree und Ei dazu, 2 Minuten weiter schlagen.  Mehl und alle restlichen Zutaten mischen und zur Kürbismasse geben, verrühren, Teig bleibt recht weich. Teig 1-2 Stunden in den Kühlschrank. 3cm grosse Kugeln formen und im Puderzucker rollen.
  <br>Auf ein Blech geben mit etwas Abstand und ca. 12 Minuten backen bei 180 Grad Ober/Unterhitze
  <br> 
  <br>Die Guetzli, wenn sie nicht vorher genascht werden, können auch gut 1 Woche vorher gemacht werden und ab in die Guetzlidose.
</p>
<p>
<hr>
  <a id="KürbisRüebliHonig"><b>Kürbis und Rüebli mit Honig</b></a>
  <br>Für 2 Personen:
  <br>Kürbis, Karotten und/oder weiteres Wurzelgemüse (ca. 500g)
  <br>reichlich Olivenöl
  <br>3 EL Honig
  <br>1 TL Kreuzkümmel, Salz, Pfeffer
  <br>Zitronensaft, frische Minze 
  <br>
  <br>Zubereitung:
  <br>Rüebli (bzw. weitere Wurzeln) schälen und längs vierteln, Kürbis ggf. schälen (bei Hokkaido kann die Schale auch dran bleiben) und in Schnitze schneiden. In einer Schüssel mit Öl, Honig und Gewürzen mischen und auf einem Backblech verteilen. Bei 190°C ca. 40 Minuten backen, zwischendurch ggf. abdecken. Wenn das Gemüse gar ist, mit Zitronensaft und Minze mischen. 
  <br>
  <br>Das Gemüse kann einfach so, oder auch mit bspw. Reis gegessen werden. Auch Ziegenfrischkäse passt. 
</p>
<p>
<hr>
  <a id="KürbisspätzliWintergemüseMarroni"><b>Kürbisspätzli mit Wintergemüse und Marroni</b></a>
  <br>Teig:
  <br>300g Mehl ( 200g Chnöpflimehl, 100g Dinkelvollkornmehl)
  <br>3 Eier
  <br>1 TL Salz
  <br>1dl Wasser am besten Mineralwasser mit Kohlensäure
  <br>150g Kürbispurree
  <br>Alles zu einem glatten Teig rühren, den Teig schlagen bis er Blasen wirft. 30 min zugedeckt ruhen lassen.
  <br>
  <br>Marroni:
  <br>Ca. 20 Marroni aus dem Tiefkühler in etwas Salzwasser weich kochen, abgiessen
  <br>
  <br>Gemüse:
  <br>1 Lauch in Streifen schneiden
  <br>2-3 Karotten in dünne Scheiben schneiden
  <br>15 Schwarzkohlblätter waschen, dicke Mitte entfernen. In breite Streifen schneiden 
  <br>
  <br>Zubereitung:
  <br>Spätzli im kochenden Salzwasser zubereiten.
  <br>
  <br>In einer Pfanne etwas Olivenöl erhitzen, Lauch und Karotten ca 5 Minuten dünsten, Schwarzkohl dazu, weiter dünsten, etwas Wasser dazu. 
  <br>Mit Salz und Pfeffer würzen. Wenn noch bissfest auf die Seite stellen. 
  <br>
  <br>Gemüse mit den weichen Marroni mischen.
  <br>
  <br>Lagenweise Spätzli und Gemüse in  Gratinform geben. 
  <br>
  <br>Mit Reibkäse bestreuen und 15 Minuten bei 180 Grad im Ofen gratinieren. 
</p>
<!--
<h4>L</h4>
-->
<hr>
<h4>M</h4>
<p>
<hr>
  <a id="VegiMoussaka"><b>Vegi-Moussaka</b></a>
  <br>(Für 2-3 Portionen)
  <br>5 Kartoffeln, gekocht und gepellt
  <br>1 Aubergine
  <br>400g Tomaten (frisch oder aus Glas/Dose)
  <br>40g Butter
  <br>1.5 EL Mehl
  <br>400ml Milch
  <br>geriebener Parmesan, Salz, Pfeffer, Olivenöl, Muskat, Zimt
  <br>Knoblauch, Thymian, Oregano
  <br>
  <br>Backofen möglichst mit Grillfunktion auf 180°C vorheizen. 
  <br>Zubereitung:
  <br>Die gekochten Kartoffeln in Scheiben schneiden. Die Aubergine ebenfalls in Scheiben schneiden und auf einem mit Backpapier ausgelegten Backblech auslegen, salzen und rund 15 Minuten stehen lassen.
  <br>
  <br>In der Zwischenzeit Knoblauch hacken und in etwas Olivenöl andünsten. Gehackte Tomaten und ggf. etwas Wasser zugeben. Mit Salz, Pfeffer, etwas Zimt und Thymian und Oregano würzen und ca. 20 Minuten köcheln lassen.
  <br>
  <br>Die Auberginen mit Olivenöl beinseln und im Backofen ca. 15 Minuten grillen.
  <br>
  <br>Die Butter für die Bechamelsauce in einem Topf schmelzen lassen. Mehl beigeben und mit dem Schneebesen verrühren. Die Milch zugeben und die Sauce andicken lassen. Mit Salz, Pfeffer, Muskat und nach Belieben mit geriebenem Parmesan würzen.
  <br>
  <br>Nun schichten: Zuerst wenig Tomatensauce in der Auflaufform verteilen, dann jeweils die Hälfte: eine Schicht Kartoffelscheiben, dann die Auberginen und schliesslich Tomatensauce. So wiederholen. Obendrauf noch die Bechamelsauce. 
  <br>Mit Parmesan bestreuen und rund 40 Minuten bei 180°C im Backofen backen.
  <br>Ihr könnt die Tomatensauce auch mit (roten) Linsen oder (Vegi)-Hack anreichern.
</p>

<!--
<hr>
<h4>N</h4>
<hr>
<h4>O</h4>
-->
<hr>
<h4>P</h4>
<p>
<hr>
  <a id="Pastinakencremesuppe"><b>Pastinakencremesuppe mit Thymian-Crôutons</b></a>
  <br>(Für 4 Personen) 
  <br>600 g Pastinaken
  <br>1 Zwiebel
  <br>3 EL Butter 
  <br>900 ml Gemüsebrühe
  <br>4 Zweige Thymian
  <br>200 g Baguette oder anderes Brot (vom Vortag) 
  <br>Salz, Pfeffer
  <br>200 g Sahne 
  <br>2 EL Meerrettich (aus dem Glas oder frisch)
  <br>1-2 EL Zitronensaft 
  <br>frisch geriebene Muskatnuss
  <br>
  <br>Zubereitung:
  <br>Die Pastinaken schälen und in dünne Scheiben schneiden, sehr dicke Wurzeln davor eventuell noch längs halbieren oder vierteln. Die Zwiebel schälen und fein würfeln.
  <br>
  <br>In einem Topf 1 EL Butter schmelzen, darin die Zwiebel goldgelb andünsten. Die Pastinaken dazugeben und 1-2 Min. mitdünsten, dann die Brühe angießen und das Gemüse zugedeckt ca. 20 Min. bei mittlerer Hitze garen. 
  <br>
  <br>Inzwischen den Thymian abbrausen und trocken schütteln, Blättchen abzupfen und fein hacken. Baguette in ca. 1 cm große Würfel schneiden. Übrige Butter in einer kleinen beschichteten Pfanne schmelzen. Darin die Brotwürfel bei mittlerer Hitze unter Rühren goldbraun braten, Thymian unterrühren und kurz mitbraten. Croûtons leicht salzen und pfeffern, warm halten. 
  <br>
  <br>Die Sahne und den Meerrettich unter die Suppe rühren, mit Zitronensaft, Salz, Pfeffer und Muskat würzen. Suppe mit dem Pürierstab cremig pürieren, auf Teller oder in Suppenschalen verteilen, mit den Croûtons bestreuen und sofort servieren.
</p>

<p>
<hr>
  <a id="PizochelsInterpretation"><b>Pizochels freie Interpretation</b></a>
  <br>Pizochel:
  <br>250g Weizenmehl
  <br>250g Buchweizenmehl
  <br>5 Eier
  <br>1dl Wasser
  <br>1dl Milch
  <br>1/2 TL Salz
  <br>
  <br>Eier und Flüssigkeiten verrühren, Mehl und Salz dazu und zu einem zähflüssigen Teig klopfen. 
  <br>Teig 30 Min ruhen lassen. In einer grossen Pfanne Wasser aufkochen, Pizochels mit Messer/Spachtel vom Brett ins Wasser schaben. 
  <br>Mit einer Schaumkehle die Pizochels abschöpfen und auf die Seite stellen.
  <br>
  <br>Gemüse:
  <br>1-2 Rüebli in feine Streifen oder Scheiben schneiden.
  <br>Spinat/Tatsoi oder Krautstiel waschen und grob schneiden.
  <br>3 Kartoffel in kleinen Würfel
  <br>1-2 Knoblauchzehen in Scheiben
  <br>5-6 Salbeiblätter in Streifen
  <br>100g Bergkäse
  <br>
  <br>Kartoffeln in Salzwasser al dente kochen
  <br>In einer Bratpfanne Olivenöl erwärmen, Knoblauch, Karotten und die Stiehle andünsten. Später die Blätter dazu, weiterdünsten, Kartoffeln dazu. 
  <br>Am Schluss die Salbeistreifen dazu. Wenn das Gemüse gar ist, mit Salz und Pfeffer würzen.
  <br>  
  <br>Gemüse und Pizochels vermischen und in eine Gratinform geben.
  <br>Mit Bergkäse bestreuen und kurz gratinieren.
</p>

<!--<hr>
<h4>Q</h4>
-->
<hr>
<h4>R</h4>
<p>
<hr>
  <a id="PastaRadicchioHaselnüssenGorgonzola"><b>Pasta mit Radicchio, Haselnüssen und Gorgonzola</b></a>
  <br>Dieses Rezept schmeckt am besten mit kurzer, dicker Pasta, z.B. Mezzi Rigatoni. 
  <br>
  <br>Während die Pasta kocht, grob gehackte Haselnüsse in einer grossen, beschichteten Pfanne anrösten. Herausnehmen und Olivenöl in der Pfanne erhitzen. In feine Streifen geschnittenen Radicchio anschmoren, bis er braune Stellen bekommt. Mit etwas Pastakochwasser ablöschen und Gorgonzola (oder einen anderen Blauschimmelkäse) unterrühren, bis eine cremige Sauce entsteht. Die Nudeln und Haselnüsse dazugeben. Evtl. noch etwas Pastawasser unterrühren. Falls vorhanden, gehackte Petersilie untermischen. Mit Peterli und Parmesan anrichten. 
</p>

<p>
<hr>
  <a id="PenneRadicchioZiegenfrischkäse"><b>Penne mit Radicchio und Ziegenfrischkäse</b></a>
  <br>Ein schnelles, einfaches Abendessen!
  <br>Radicchio schmeckt im Salat, aber auch geschmort mit Penne. Das Anbraten macht ihn etwas weniger bitter. 
  <br>
  <br>Während das Pastawasser kocht, den Radicchio (oder Chicoree) in Streifen schneiden und mit etwas Salz in reichlich Olivenöl bei mittlerer Hitze anbraten. Wer mag, gibt Knoblauch und/oder Chiliflocken dazu. Wenn die Penne al dente sind, etwas Kochwasser und Ziegenfrischkäse untermischen, bis alles cremig ist. Mit frisch gemahlenem Pfeffer servieren. 
  <br>Fertig!
</p>

<p>
<hr>
  <a id="RandenKräuter"><b>Randen mit Kräutern</b></a>
  <br>(Für 2 Personen)
  <br>500g Randen (gerne verschiedene Farben)
  <br>40g Sonnenblumenkerne
  <br>2-4 EL Ahornsirup
  <br>je 2 EL Sherryessig und Olivenöl
  <br>Knoblauch, Salz, Pfeffer
  <br>reichlich Kräuter nach Belieben (Petersilie, Kerbel, Rucola o.ä.)
  <br>
  <br>Zubereitung: 
  <br>Randen garen: Ich habe dazu zwei bevorzugten Methoden, entweder in Alufolie im Backofen, vor allem, wenn der sowieso läuft, oder im Dämpfeinsatz im Kochtopf. Die Garzeit variiert stark mit den Grösse der Knollen. Wenn sie gar sind, schälen und in 2-3cm grosse Würfel schneiden. Die Sonnenblumenkerne in einer Pfanne oder im Backofen rösten. Alles mit den weiteren Zutaten mischen und mit Salz und Pfeffer abschmecken. Zum Schluss die Kräuter unterheben. 
</p>
<p>
<hr>
  <a id="PastaRandenButterSalbei"><b>Pasta mit Randen, brauner Butter und Salbei</b></a>
  <br>Während das Pastawasser erhitzt, ein bis zwei rohe Randen (ca. 1 Pfund) grob raffeln. 
  <br>In einer schweren Pfanne (wie immer: Le Creuset, wer hat) reichlich Butter zerlassen und hellbraun werden lassen. 
  <br>Nicht weggehen! Die Butter darf nicht verbrennen, sonst wird sie bitter. 
  <br>Eine kleine Handvoll Salbeiblätter kurz anrösten und dann die Randen hinzugeben. 
  <br>Salzen und dünsten, bis die Teigwaren (Rigatoni, Penne, aber auch Tagliatelle eignen sich gut) gar sind. 
  <br>Unter die Randen mischen und mit etwas Kochwasser, Parmesan und schwarzem Pfeffer mischen. Fertig!
</p>
<p>
<hr>
  <a id="RazElHanoutRüebliBulgur"><b>Raz-El-Hanout-Rüebli mit Bulgur</b></a>
  <br>1 EL Rosinen
  <br>250ml Gemüsebrühe
  <br>2 EL Olilven
  <br>100g feiner Bulger
  <br>25g Mandelkerne, geröstet gemahlen/fein gehackt
  <br>300g Rüebli
  <br>2 (Frühlings)Zwiebeln
  <br>1 TL Raz el Hanout
  <br>1 TL Schwarzkümmelsaat
  <br>Salz, Pfeffer
  <br>50g Schafs- oder Ziegenkäse
  <br>100g (Ziegen-)Joghurt
  <br>1 Stich Butter
  <br>Chili-Flocken
  <br>
  <br>Zubereitung:
  <br>Rosinen in 150 ml lauwarmem Wasser einweichen. Fond aufkochen. 1 El Öl, Bulgur und Mandeln zugeben, beiseitegestellt zugedeckt 8-10 Minuten ziehen lassen. Karotten schrubben und in größere Stifte schneiden. Frühlingszwiebeln in in dünne Ringe schneiden.
  <br>
  <br>Restliches Öl in einem breiten Topf erhitzen. Das Weiße der Frühlingszwiebeln darin bei mittlerer Hitze glasig dünsten. Möhren zugeben und 3-4 Minuten unter Rühren mitdünsten. Raz el Hanout zugeben und kurz mitdünsten. 1 TL Schwarzkümmel und Rosinen mit dem Einweichwasser zugeben. Mit Salz würzen und zugedeckt 5-6 Minuten bei mittlerer Hitze garen. Inzwischen Ziegenkäse und Joghurt fein pürieren.
  <br>
  <br>Bulgur mit Gabeln auflockern. Butter zu den Möhren geben, mit Salz und Pfeffer abschmecken. Bulgur und Möhren auf einer Platte anrichten. Mit Joghurt beträufeln, mit restlichen Frühlingszwiebeln, Schwarzkümmel und Chili-Flocken bestreuen. 
</p>
<p>
<hr>
  <a id="MiniRosenkohlburger"><b>Mini-Rosenkohlburger</b></a>
  <br>Dieses Rezept macht ein wenig Arbeit, ist aber gut vorzubereiten. Und vielleicht kann man so sogar Kinder für Rosenkohl erwärmen?
  <br>
  <br>2 grosse Zwiebeln in feinen Scheiben und in Olivenöl karamellisieren (d.h. Langsam schmoren, bis sie dunkelgolden und weich sind - dafür darf die Pfanne nicht zu heiss sein!). Vom Herd nehmen.
  <br>
  <br>Aus 2 EL Olivenöl, 2-3 Knoblauchzehen, 1 EL Tamari/Sojasauce, ½ TL Kreuzkümmel und ¼ TL Cayenne oder Smoked Paprika eine Marinade anrühren. 
  <br>
  <br>Den Rosenkohl (ca. 20 Stück, je grösser, desto besser) halbieren, in die Marinade tunken und auf einem Backblech anorden. Dabei darauf achten, die Paare beieinander zu behalten! Im Ofen ca. 10-15 Minuten rösten. Tofu oder Tempeh in 20 Scheiben in der Grösse der Rosenkohle (?) schneiden und in der restlichen Marinade ziehen lassen. Dann ebenfalls im Ofen rösten.
  <br>
  <br>Dann werden die “Burger” gebaut: Zwei (idealerweise passende, siehe oben) Rosenkohlhälften mit etwas Dijonsenf bestreichen. Tempeh mit etwas Zwiebelconfit bestreichen und zwischen die Rosenkohlhälften klemmen. Mit einem Zahnstocher fixieren. 
  <br>
  <br>Wem das alles zu kompliziert ist, kann natürlich auf die Tofu-Zwiebelfüllung verzichten und den Rosenkohl mit Marinade und Senf als Aperohäppli servieren… 
</p>

<hr>
<h4>S</h4>
<p>
<hr>
  <a id="Sauerkrautquiche"><b>Sauerkrautquiche</b></a>
  <br>(Für 4 Personen)
  <br>Teig:
  <br>200 g Ruchmehl
  <br>50 g gemahlene Mandeln
  <br>½ TL Salz
  <br>80 g Butter
  <br>1 dl Wasser
  <br> 
  <br>Füllung:
  <br>500g Sauerkraut, gekocht und abgetropft
  <br>250g Ricotta
  <br>2 Äpfel, in ca. 1 cm grossen Würfeln
  <br>120g geriebener Gruyère
  <br>2 frische Eier
  <br>wenig   Pfeffer
  <br> 
  <br>Zubereitung:
  <br>Für den Teig Mehl, Mandeln und Salz in eine Schüssel geben, mischen. Butter beigeben, von Hand zu einer gleichmässig krümeligen Masse verreiben. Wasser beigeben, rasch zu einem weichen Teig zusammenfügen, nicht kneten. Teig flach drücken, zugedeckt ca. 30 Min. kühl stellen.
  <br>
  <br>Füllung:
  <br>Die Hälfte des Sauerkrauts mit der Ricotta in ein Mixglas geben, pürieren. Sauerkraut-Ricotta-Püree, restliches Sauerkraut und alle restlichen Zutaten in eine Schüssel geben, mischen.
  <br> 
  <br>Teig ausrollen und in die Form legen. Teigboden mit einer Gabel dicht einstechen, Füllung darauf verteilen. Ca. 40 Min. auf der untersten Rille des auf 220 °C vorgeheizten Ofens. Herausnehmen, etwas abkühlen, warm servieren.
</p>
<p>
<hr>
  <a id="SüsskartoffelGnocchiOfenTomaten"><b>Süsskartoffel-Gnocchi mit Ofen-Tomaten, Rucola und Radicchio</b></a>
  <br>(Für 2 Personen)
  <br>1 Süßkartoffel (ca. 400g)
  <br>1 Eigelb
  <br>80g Mehl (m: Dinkel 1050)
  <br>Salz
  <br>
  <br>250g Kirschtomaten aus dem Ofen*
  <br>Rauke (ca. 150g) 
  <br>Radicchio (ca. 200g), in Streifen
  <br>Parmesan
  <br>Olivenöl
  <br>Salz, Pfeffer
  <br> 
  <br>Zubereitung:
  <br>Ofen auf 200° vorheizen. 
  <br> 
  <br>Süßkartoffel waschen und der Länge nach halbieren. Mit der Schnittfläche nach unten in eine ofenfeste Form geben und etwa 30min garen. Etwas abkühlen lassen, schälen und durch die Kartoffelpresse drücken. Mit Mehl, Eigelb und Salz mischen und zügig zu einem homogenen Teig verkneten. Auf einer gut bemehlten Arbeitsfläche zu zwei Rollen formen. Davon kleine Gnocchi abschneiden und mit der Schnittfläche ebenfalls durch etwas Mehl drehen.
  <br> 
  <br>Reichlich Salzwasser zum kochen bringen. Darin die Gnocchi garen, bis sie an die Oberfläche steigen, kalt abschrecken und zur Seite stellen.
  <br>
  <br>In Olivenöl die Kirschtomaten schmelzen lassen, die Gnocchi dazu fügen und wieder erwärmen, dann den Radicchio und die Rauke unterziehen, abschmecken und mit dem gehobelten Parmesan servieren.
</p>

<hr>
<h4>T</h4><!-- hier beginnen die Rezepte für T -->
<p>
<hr>
  <a id="PastaTomatenSemmelbröseln"><b>Pasta mit Tomaten und Semmelbröseln</b></a>
  <br>(Für 3 Personen)
  <br>Für die Sosse
  <br>25 ml Olivenöl
  <br>je eine Knoblauchzehe und Chili
  <br>30 g Anchovis
  <br>1 EL gehackte Petersilie
  <br>125 ml Weisswein
  <br>450 g Tomaten (frische geschält und gehackt, sonst aus Dose oder Glas)
  <br>3 Zweige Basilikum
  <br>Salz
  <br> 
  <br>Für das Topping
  <br>1 EL Olivenöl
  <br>50 g Semmelbrösel
  <br>1 Knoblauchzehe, Salz
  <br>25 g Walnüsse
  <br>1 EL gehackte Petersilie
  <br> 
  <br>350 g Pasta
  <br>
  <br>Zubereitung:
  <br>Für die Sosse Knoblauch, Chili und Anchovis hacken und mit der Petersilie im Öl anschwitzen. Mit Weisswein ablöschen und einkochen lassen. Tomaten und Basilikum zugeben, mit Salz würzen und ca. 10 Minuten einkochen lassen. Am Ende Basilikumzweige entfernen.
  <br> 
  <br>Für das Topping in einer anderen Pfanne die Semmelbrösel und die ganze geschälte Knoblauchzehe im Olivenöl anbraten. Wenn die Brösel braun sind, Knoblauch entfernen und Brösel auf einem Teller etwas abkühlen lassen. Dann gehackte Walnüsse und Petersilie unterheben.
  <br>
  <br>Pasta kochen und mit Sosse und Topping servieren
</p>
<p>
<hr>
  <a id="TomatenTarte"><b>Tomaten-Tarte</b></a>
  <br>(Für 2 Personen)
  <br>180g Mehl
  <br>1/2 TL Salz
  <br>120g Butter, kalt
  <br>120g Quark
  <br>8 Tomaten
  <br>1 Ei
  <br>1 EL Crème fraîche
  <br>2 TL Senf
  <br>Salz, Pfeffer
  <br>Thymian
  <br>Olivenöl
  <br>
  <br>Zubereitung:
  <br>Die Butter in kleinen Flöckchen ins Mehl geben, Salz zufügen, ebenso den Quark und dann mittels eines Knethakens und/oder mit der Hand einen homogenen Teig herstellen. Dann 1 Stunde kalt stellen.
  <br>Analog eines Blätterteigs sollte der Teig gefaltet und ausgerollt werden: Nun Teig rechteckig ausrollen und dann wie einen Brief auf Drittel falten ("einfache Tour"). Dann direkt wieder ausrollen und auf Viertel falten (doppelte Tour). Dann in Frischhaltefolie einschlagen oder in eine passende Box legen und über Nacht im Kühlschrank ruhen lassen.
  <br> 
  <br>Alternativ könnt ihr auch gekauften Blätterteig verwenden. ;-)
  <br>
  <br>Ofen auf 220°C vorheizen mit Backblech.
  <br>Den Tarteteig dünn ausrollen - ca, 1/2cm dick - und dann einen kleinen Rand ringsherum hochziehen. Direkt auf ein Backpapier bugsieren.
  <br>Ei, Crème und Senf vermengen und auf dem Boden verstreichen. Tomaten in dünne Scheiben schneiden und die Tarte damit dachziegelartig damit belegen. Salzen, pfeffern, mit Thymian bestreuen und mit Olivenöl beträufeln. 
  <br>Für ca. 30min in den heißen Ofen schieben. Der Boden soll von unten schön knusprig sein.
</p>
<!--
<h4>U</h4>
<hr>
<h4>V</h4>
-->
<hr>
<h4>W</h4>
<p>
<hr>
  <a id="WirzGemüse"><b>Wirz-Gemüse</b></a>
  <br>Wirz, Zwiebel
  <br>etwas Butter oder Öl
  <br>Salz, Pfeffer, Chili
  <br>nach Belieben etwas Weisswein, Brühe oder Rahm
  <br> 
  <br>Zubereitung:
  <br>Wirz putzen und in mundgerechte Stücke zerlegen, dabei die dicken Blattrippen entweder beiseite tun oder klein schneiden. Den Wirz in Salzwasser einige Minuten blanchieren, dann abgiessen und kalt abschrecken. Die Zwiebel fein würfeln und in etwas Butter oder Öl anschwitzen. Den Wirz zugeben und alles zusammen etwas anbraten und mit Salz, Pfeffer und Chili nach Belieben würzen. Mit Weisswein, Brühe oder Rahm ablöschen und zu Ende garen.
</p>
<!--
<hr>
<h4>x/Y</h4>
-->
<hr>
<h4>Z</h4><!-- hier beginnen die Rezepte für Z -->
<p>
<hr>
  <a id="ZucchettiKartoffelFrittata"><b>Zucchetti-Kartoffel-Frittata</b></a>
  <br>(Für 3 Personen)
  <br>400 g Kartoffeln (junge)
  <br>250 g Zucchetti
  <br>1 Zwiebel
  <br>6 Eier (große)
  <br>60 ml Vollmilch (optional)
  <br>6 Zucchettiblüten - oder auch Kräuter bzw. Blüten davon - oder einfach weglassen
  <br>1 Stängel Rosmarin
  <br>Salz
  <br>Pfeffer
  <br>
  <br>Zubereitung:
  <br>Die Kartoffeln und Zucchetti waschen und in 0,5 Zentimeter dicke Scheiben hobeln. Die Zwiebeln in Würfel schneiden.
  <br>
  <br>Zwei Esslöffel Öl in einer Pfanne bei mittlerer Hitze erhitzen. Die Zwiebelwürfel hinzufügen und unter häufigem Rühren etwa zwei Minuten braten, bis sie glasig sind. Anschließend die Kartoffeln acht bis zehn Minuten braten, dann die Zucchettischeiben hinzugeben und weitere fünf bis zehn Minuten braten, je nach Größe der Pfanne und gewünschter Konsistenz der Zucchetti. Gut salzen und pfeffern.
  <br>
  <br>Den Rosmarin vom Stängel zupfen und fein hacken. Die Blüten ggf. vom Stempel befreien und je nach Grösse etwas zerrupfen.
  <br>
  <br>Eier und Milch mit dem Schneebesen leicht fluffig schlagen und mit Salz, Pfeffer und Rosmarin würzen. Nachsalzen ist bei Frittata nicht empfehlenswert, weil das Salz, das oberflächlich darauf gestreut wird, sich nicht mehr verteilt.
  <br>
  <br>Die Eimischung über das Gemüse gießen und dabei die Pfanne schwenken, um die Mischung gleichmäßig zu verteilen. Die Blüten darauf verteilen und mit ein wenig Olivenöl einpinseln. Die Frittata ohne Umrühren bei mittlerer Hitze für etwa fünf Minuten auf dem Herd backen, bis sie an den Rändern ganz leicht fest zu werden beginnt.
  <br>
  <br>Nun die Frittata in den Ofen (obere Schiene) stellen und den Grill einschalten. Wenn die Frittata nach weiteren fünf Minuten zu bräunen beginnt und wie ein Soufflé aufgeht, ist sie bereit, um serviert zu werden.
  <br>
  <br>Dazu passt auch Salat mit einer leichten Vinaigrette. Geht aber auch ohne.
</p>
<p>
<hr>
  <a id="Zuckerhut"><b>Zuckerhut mit Äpfeln und Kürbiskernen</b></a>
  <br>1  Zuckerhut
  <br>2 Äpfel
  <br>50 g Kürbiskerne
  <br> 
  <br>Für das Dressing
  <br>50 ml Kürbiskernöl
  <br>1 EL dunkler Balsamico
  <br>0,5 Zitrone, Saft davon
  <br>1 Msp. Zimt
  <br>Salz und Pfeffer
  <br>1 TL Ahornsirup, oder ähnliches
  <br> 
  <br>Zubereitung:
  <br>Zuckerhut ist ja schon ein spezieller Salat. Ich muss zugeben, dass ich anfangs etwas Mühe hatte und auch jetzt manchmal wenig Lust auf den bitteren Geschmack habe. Mit etwas Frucht geht's dann meist schon besser.
  <br> 
  <br>Wer es mild mag, den Zuckerhut gerne in Stücke schneiden und eine Weile in lauwarmen Wasser einlegen, das zieht die Bitterkeit heraus. Ansonsten einfach ganz normal waschen.
  <br> 
  <br>Für das Dressing alle Zutaten verrühren und abschmecken. Die Äpfel fein würfeln und gemeinsam mit dem Dressing unter den Zuckerhut mischen. Die Kürbiskerne in einer Pfanne ohne Fett leicht anrösten und über dem Salat verteilen.
</p>
<!--Ab hier den Code für neues Rezept kopieren - ohne diese Zeile
<p>
<hr>
  <a id="deinNeuesRezept"><b>Dein neues Rezept</b></a>
  <br>(Für 2 Personen)
  <br>Zutaten kommen hier rein
  <br>
  <br>Zubereitung:
  <br>Text für die Zubereitung
</p>
bis hier - ohne diese Zeile -->
 {% endblock %}
