{% extends "juntagrico/signup/base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}

{% block title %}
    Persönliche Daten
{% endblock %}


{% block intro %}
                <div class="col-md-12">
                    <h4>Probeabo:</h4>
                    Für ein Probeabo kannst du hier deine Daten einfügen, welche für die Anmeldung
                    notwendig sind. Wir werden dir keine Anteilscheine in Rechnung stellen, benötigen jedoch
                    trotzdem gewisse Informationen.

                    <h4>Regulärer Beitritt:</h4>
        <p>Interessiert an {% enriched_organisation "D" %}?</p>
    {% endblock %}

   
        {% block intro_with_shares %}
            <p>
                
                    Die Mitgliedschaft bei {{ v_d_enriched_organisation }} ist geknüpft an den Erwerb von
                    Anteilscheinen in der Höhe
                    von CHF {{ c_share_price }} pro {{ v_share }}. Die Anzahl {{ v_share_pl }}
                    ist abhängig von den {{ v_subscription }}-Bestandteilen. Die {{ v_share_pl }} sind das
                    Kapital, das vor allem zur Finanzierung von Investitionen –
                    zum Beispiel Infrastruktur - verwendet wird.
                    Beim Austritt werden die Anteilscheine rückerstattet.
               
            </p>
        {% endblock %}
    {% endif %}

    <p>
        {% block intro_2 %}
            {% blocktrans trimmed with v_member_type=vocabulary.member_type v_member_type_pl=vocabulary.member_type_pl %}
                Die {{ v_member_type_pl }} tragen im Rahmen ihrer Motivationen, Prioritäten und
                Möglichkeiten gemeinsam zum Gelingen des Betriebes bei.
                Wer bei {{ v_d_enriched_organisation }} {{ v_member_type }} ist, verpflichtet sich zur
                Mitarbeit. Zusätzliches wie auch spontanes Engagement ist jederzeit willkommen.
            {% endblocktrans %}
        {% endblock %}
    </p>

    {% config "bylaws" as c_bylaws %}
    {% config "business_regulations" as c_business_regulations %}
    {% if c_bylaws.strip or c_business_regulations.strip %}
        {% block read_instructions %}
            <p>
                {% blocktrans trimmed with v_member_type=vocabulary.member_type %}
                Bevor du dich als {{ v_member_type }} anmeldest, lies bitte Folgendes durch:
                {% endblocktrans %}
                <ul>
                    {% if c_bylaws.strip %}
                        <li>
                            <a target="_blank" href="{{ c_bylaws|safe }}">
                                {% trans "Statuten" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if c_business_regulations.strip %}
                        <li>
                            <a target="_blank" href="{{ c_business_regulations|safe }}">
                                {% trans "Betriebsreglement" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </p>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% crispy form %}
    </form>
{% endblock %}
