{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/juntagrico/external/datatables.min.css"/>
{% endblock %}
{% block page_title %}
    <h3>
        Spezielle Arbeitsgruppen im Wädichörbli
    </h3>
    Die Arbeit in diesen Gruppen benötigt eine Einarbeitung oder spezielles Knowhow. Daher ist eine 'Bewerbung' zwingend notwendig.
    So können wir schauen, wie es passt.
{% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h4>
                {% trans "Zu den Kalendern der einzelnen Tätigkeitsbereiche" %}
            </h4>
        </div>
    </div>
   {% for area in areas %}
        <div class="row mb-1">
            <div class="col-md-12">
                {% if request.user.member in area.members.all %}
                    <a href="{% url 'area' area.id %}"> 
                        {{ area.name }} - Koordinator: {{area.coordinator}} 
                    </a>
                {% else %}
                    {{ area.name }} - Koordinator: {{area.coordinator}}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <br /><br />

    <p>Du unterstützt uns gerne in einem der obigen Arbeitsbereiche?</br>
    Dann melde dich gerne bei  <a href="mailto:erdmut@waedichoerbli.ch">Erdi</a>!</p>
   
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/juntagrico/external/datatables.min.js">
    </script>
{% endblock %}