*.sqlite
venv/*
*.pyc
static/*
.idea
*.bak
ssl/*
/.project
*.db
docker-compose.yml
Dockerfile
getCleanTestEnv.sh
settings.py
start.py
urls.py
utils.py
wsgi.py
juntagricoapp.py
views.py
mailer.py
media/*.pdf
*.log
